<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sidebar.css">    
    <link rel="stylesheet" href="/css/backoffice/backoffice.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body class="backoffice-body">
    <%- include('../../includes/header.ejs') %>

    <main class="backoffice-main d-flex">
        <div class="left-section">
            <div class="user-section">
                <img src="<% if (tieneFoto) { %> <%= usuario.urlFoto %> <% } else { %>https://graph.facebook.com/1524251321051930/picture?width=150&amp;height=150<% } %>" class="mr-3 rounded-circle" alt="User" width="50" height="50">
                <%= usuario.nombre %> <%= usuario.apellido %>
            </div>
            <div class="sidebar-section">
                <%- include('../../includes/sidebarStore.ejs') %>
            </div>
        </div>
        <div class="right-section">
            <div class="content-wrapper">
                <h1 class="title-section"><%= tituloSeccion %></h1>

                <div class="col-12">            
                    <% if (hayCompras) { %>
                        <div class="row compras-list-wrapper">                        
                            <% for (let compra of compras) { %>
                                <% if ((soloVigentes && hoy < compra.entradas[0].evento.fecha) || !soloVigentes ) { %>
                                    <div class="compra-detail shadow-sm rounded mb-3">
                                        <div class="card-body p-2">
                                          <div class="form-row align-items-center">
                                            <div class="col">
                                              <img class="img-fluid rounded" src="<%= compra.entradas[0].evento.urlImagen %>" alt="<%= compra.entradas[0].evento.nombre %>">
                                            </div>
                                            <div class="col-9">
                                              <h6 class="text-truncate mb-1"><%= compra.entradas[0].evento.nombre %></h6>
                                              <div class="small"><%= compra.entradas[0].evento.fecha %></div>
                                              <div class="small text-truncate"><%= compra.entradas[0].evento.lugar %></div>
                                              <div class="small"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body p-2">
                                          <div class="form-row justify-content-between align-items-center text-center small">
                                            <a href="/tienda/detalle-evento/<%= compra.entradas[0].evento._id %>" target="_blank" class="col-auto text-dark">Ver evento</a>
                                            <div>
                                              <a href="/tienda/detalle-compra/<%= compra._id %>" class="btn btn-sm btn-primary rounded-50 px-3">Ver entrada(s)</a>
                                            </div>
                                          </div>
                                          <div class="form-row justify-content-between align-items-center text-center mt-1">
                                            <div class="col-auto"></div>
                                          </div>
                                        </div>
                                    </div>  
                                <% } %>                                                           
                            <% } %> 
                        </div>
                    <% } else { %>
                        <p>No hay registros para mostrar</p>
                    <% } %>
                </div>
            </div>            
        </div>
    </main>
</body>
</html>